.mystyle{
    color: rgb(0, 118, 73);
    background-color :white;
    border : 6px solid rgb(83, 255, 85);
    font-style: italic;
    font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 24px;
    margin-top: 14px;
}